<ion-view view-title="WhaleSpeak">
  <ion-content class="padding">
    <div class="list list-inset">
      <p class="about">Ever wanted to speak with whales? <br> Enter your text below and have WhaleSpeak translate for you!</p>
      <label class="item item-input">
        <input type="text" placeholder="Enter your text here">
      </label>
<!--           <audio src="sound/whale1.mp3" controls> 
 -->      <button class="button button-outline button-calm" ng-click="translate()">
      Submit
    </button>
    </div>
  </ion-content>
</ion-view>
